<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/tacos/new">Make a taco!</a>
  <% if (tacos.length) { %>
    <h1>There are tacos, and here they are:</h1>
    <% tacos.forEach(taco => { %>
      <p>
        <a href="/tacos/<%= taco._id %>"><%= taco.name %></a>
        is
        <%= taco.tasty ? "tasty" : "not tasty" %> 
      </p>
    <% }) %>
  <% } else { %>
    <%# there are no tacos %>
    <h1>There are no tacos</h1>
  <% } %> 
</body>
</html>