<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Build a taco!</h1>
  <form action="/tacos" method="POST">
    <label>
      Name:
      <input type="text" name="name">
    </label>
    <label>
      Tasty?
      <input type="checkbox" name="tasty">
    </label>
    <button type="submit">Add 🌮</button>
  </form>
</body>
</html>